#cachorro {
	width: 8em;
	margin-top: 400px;
	margin-left: 100px;
	
}

#casa {
	width: 8em;
	position: absolute;
	top: 300px;
	left: 900px;
	
	
}

body {
	background-color: azure;
}
img {
	border: 2px solid red;
}

#campo {
	width: 4em;
	display: block;
	margin-top: 2em;
	background-color:#ccc;

}
